 body{
    background-color: rgb(245, 237, 237);
 } 
 section{
    display: flex;
    width: 100%;
    box-sizing: border-box;
    /* padding: 60px; */
    flex-direction: row;
    background-color: hsla(0, 14%, 83%, 0.75);
    border-radius: 2px;
    text-align: center;
    margin: 100px 50px 50px 50px;
 }
 section div{

 }
 section div:first-child{
    background-color: hsl(31, 77%, 52%);
    color: hsla(0, 14%, 83%, 0.75); 
    

 }
 section div:nth-child(2){
    background-color: hsl(184, 100%, 22%);
    color: hsla(0, 14%, 83%, 0.75);
 }
 section div:nth-child(3){
    background-color: hsl(179, 100%, 13%);
    color: hsla(0, 14%, 83%, 0.75);
    text-align: center;
 }


   
    

 button{
padding: 10px;
margin: 10px 10px 10px 10px;
border-radius: 50px;
border:0px rgb(250, 249, 249)
 }
 .botton3{
    margin: 10px 10px 10px 10px;
 }
   .botton1:hover{
   background-color: hsl(31, 77%, 52%);
   }
   .botton2:hover{
   background-color: hsl(184, 100%, 22%);
   }
   .botton3:hover{
   background-color: hsl(179, 100%, 13%);
   }
    
  


p{
    
        margin: 20px 20px 20px 20px;
        color: hsla(0, 0%, 100%, 0.75);
        font-size: 15px;
}
img{
    margin-top: 10px;
}